In [ ]:
## column-transfrom

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
v ="C:\\Users\\biswa\\OneDrive\\Desktop\\somethings.24\\covid_toy.csv"

In [5]:
df = pd.read_csv(v)
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns = ['has_covid']),df['has_covid'],test_size = 0.2,)

In [8]:
x_train

    age  gender  fever   cough       city
87   47    Male  101.0  Strong  Bangalore
6    14    Male  101.0  Strong  Bangalore
55   81  Female  101.0    Mild     Mumbai
24   13  Female  100.0  Strong    Kolkata
22   71  Female   98.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
84   69  Female   98.0  Strong     Mumbai
89   46    Male  103.0  Strong  Bangalore
59    6  Female  104.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore
97   20  Female  101.0    Mild  Bangalore

[80 rows x 5 columns]

# one hot encoding in a traditional way

In [12]:
# 1st fever col a je sob missing values ache tader fill korte hobe
#adding simple imputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']]) #<-- [[]]

In [34]:
x_train_fever # all missing values are replaces by data mean

x_test_fever = si.fit_transform(x_test[['fever']])

In [14]:
x_train_fever.shape

(80, 1)

In [23]:
df.gender.value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [24]:
df.city.value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [15]:
# ordinalencoding ==> cough
oe = OrdinalEncoder(categories = [['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])
x_train_cough

array([[1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.]])

In [22]:
# onehotencoding --> gender,city
ohe = OneHotEncoder(drop = 'first')

x_train_gender_city = ohe.fit_transform(x_train[['gender','city']]).toarray()

x_test_gender_city = ohe.fit_transform(x_test[['gender','city']]).toarray()

x_train_gender_city

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [30]:
x_train_age = x_train.drop(columns =['gender','fever','cough','city']).values

In [31]:
x_test_age = x_test.drop(columns =['gender','fever','cough','city']).values

In [32]:
x_train_age.shape

(80, 1)

In [35]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city ,x_train_cough),axis =1)

x_test_transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city ,x_test_cough),axis =1)

x_train_transformed.shape

(80, 7)

# Column Transform

In [36]:
from sklearn.compose import ColumnTransformer

In [ ]:
# columns on which transforms are not applied , they will be remainder 
# remainder has 2 options --> [i] drop, [ii] passthrough[no change]
# IN transforms list we will pass tuples()
# as we have to perform 3 types of transforms --> we have to make 3 tuples()
# we has to pass 3 things inn a tuple 
# [i] ---> transform's name
#[ii] ---> transformer operation
# [iii] ---> list of columns name on which we have to perform the operation

In [38]:
tt = ColumnTransformer(transformers = [
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop ='first',sparse= False),['gender','city'])
],remainder = 'passthrough')

In [40]:
tt.fit_transform(x_train).shape

C:\Users\biswa\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [41]:
tt.transform(x_test).shape

(20, 7)